@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 145px; /* Header.tsx ki height ke equal */
}

body {
  font-family: 'Sora', 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
